@import "./reset-styles.scss";

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin header-text {
  font-size: 32px;
  line-height: 36px;
}

.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #52503b;
  padding: 0 120px;
}

.header-menu {
  display: flex;
  flex-direction: row;
}

.header-button {
  width: 117px;
  height: 42px;
  background-color: white;
  border-radius: 6px;
  border: none;
  outline: none;
}

.heading-section {
  background-image: url("@img/house-header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  padding: 0 133px;
  @include flex-column;
}

.heading-section > span {
  margin-top: 34px;
}

.heading-section_main-text,
.heading-section_secondary-text {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: white;
  text-align: center;
}

.heading-section_secondary-text {
  font-size: 14px;
  line-height: 20px;
}

.description-section {
  background: #faf8f0;
  height: 430px;
  @include flex-column;
  padding: 0 360px;
}

.text-block {
  display: flex;
}
.left-block {
  max-width: 360px;
  height: 210px;
}

.right-block {
  margin-left: 40px;
  display: flex;
  max-width: 360px;
  height: 210px;
  flex-direction: column;
  justify-content: space-between;
}

.description-section_text {
  size: 14px;
  line-height: 20px;
}

.rectangle {
  width: 48px;
  height: 8px;
  background-color: #e08631;
  margin-bottom: 33px;
}

.description-section_button {
  background-color: #52503b;
  color: white;
  width: 107px;
  height: 42px;
  border-radius: 6px;
}

.big-text-section {
  height: 568px;
  padding: 0 77px;
  text-align: center;
  @include flex-column;
}

.big-text-section span {
  font-size: 96px;
  line-height: 96px;
  font-weight: 700;
  color: #52503b;
}

.kitchen-section {
  background-image: url("@img/kitchen.png");
  background-size: 100%;
  height: 630px;
}

ul {
  display: flex;
}

li {
  margin-right: 24px;
  color: white;
}

button {
  box-shadow: 0;
  outline: none;
  text-decoration: none;
  border: 1px solid transparent;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

.room-section {
  @include flex-column();
  height: 530px;
  background-color: #faf8f0;
  text-align: center;

  .room-section_text {
    width: 554px;

    p {
      @include header-text();
      margin-bottom: 14px;
    }

    span {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .room-section_description {
    display: flex;
    .room-section_card {
      width: 346px;
      margin-top: 30px;
      @include flex-column();

      img {
        margin-bottom: 12px;
      }

      span {
        font-size: 14px;
      }

      &:first-child,
      &:nth-child(2) {
        margin-right: 72px;
      }
    }
  }

  .advantages-section {
    height: 500px;

    p {
      @include header-text();
    }
  }
}
